 /* Seção "A Ponte" (Dark) */
        .bridge-section {
            background-color: var(--primary-color);
            color: white;
            padding: 80px 0;
        }
        .bridge-section h2 {
            color: white;
        }
