 <section id="solucoes" class="py-5 bg-light">
        <div class="container py-5">
            <div class="row align-items-center mb-5">
                <div class="col-lg-6">
                    <h5 class="fw-bold">Desbloqueie o Poder da Automação com n8n</h5>
                    <p class="text-muted" style="margin: 10px;">Vá além das integrações básicas. Crie fluxos de trabalho inteligentes que conectam todas as suas ferramentas favoritas em um ecossistema unificado, escalável e à prova de falhas.</p>
                    <ul class="list-unstyled">
                        <li><i class="bi bi-check-lg text-primary"></i> <strong>Conectividade Total: </strong>Integração fluida via Webhooks e APIs personalizadas.</li>
                        <li><i class="bi bi-check-lg text-primary"></i><strong>Controle Absoluto: </strong> Manipulação e processamento de dados complexos com facilidade.</li>
                    </ul>
                </div>
                <div class="col-lg-6">
                     <!-- <img src="https://placehold.co/500x300/EEE/333?text=Workflow+Visual" class="img-fluid rounded shadow" alt="Workflow"> -->
                     <img src="img/workflow.webp" class="img-fluid rounded shadow" alt="Workflow">
                </div>
            </div>
        </div>
    </section>

