<nav class="navbar navbar-expand-lg fixed-top" style="background-color: white;">
        <div class="container">
            <a class="navbar-brand fw-bold" href="#">
                <img id="logo" src="img/Vazio_Resolv.IA Logo_claro.png" alt="logo Vazio Resolv.IA" style=" width: 20%;
            height: 10%;">
                Resolv<span class="text-primary">.IA</span></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto align-items-center">
                    <li class="nav-item"><a class="nav-link" href="#solucoes">Soluções</a></li>
                    <li class="nav-item"><a class="nav-link" href="#servicos">Serviços</a></li>
                    <li class="nav-item ms-lg-3">
                        <button class="btn btn-outline-primary me-2" href="/src/app/pages/login/login.component.html" data-bs-toggle="modal" data-bs-target="#loginModal">
                            <i class="bi bi-person-circle me-1"></i> Área do Cliente
                        </button>
                    </li>
                    <li class="nav-item">
                        <a href="#contato" class="btn btn-primary">Diagnóstico Gratuito</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
